In [134]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from urllib.request import urlopen, urlretrieve, quote
from urllib.parse import urljoin
import os
import wget
from glob import *

# 1. Use WebScraping to download dataset

In [130]:
OUTPUT_DIR = 'C:/Users/theri/OneDrive/datascience_projects'
URL = 'https://www.eia.gov/electricity/data/eia861m/'
u = urlopen(URL)

try:
    html = u.read().decode('utf-8')
finally:
    u.close()

#parse text obtained
soup = bs(html, "html.parser")

In [131]:
#requests URL and get response object
#response = requests.get(URL)

In [132]:
#find all sales and revenue hyperlinks on page
links =  soup.select('a[title^="Sales and revenue"]')

In [133]:
#from all links download file
for a in links:
    print("Found the URL:", a['href'])
    _FULLURL = URL + a['href']
    href = a.get('href')
    href = URL + href
    wget.download(href)
    #filename = os.path.join(OUTPUT_DIR,href.rsplit('/',1)[-1])
    #print("Downloading %s to %s..." % (href, filename))
    #urlretrieve(href,filename)
    #print("Done.")

Found the URL: xls/sales_revenue.xlsx
100% [..........................................................................] 4575362 / 4575362Found the URL: xls/sales_ult_cust_2022.xlsx
100% [............................................................................] 595240 / 595240Found the URL: archive/xls/retail_sales_2021.xlsx
100% [..........................................................................] 1409300 / 1409300Found the URL: archive/xls/retail_sales_2020.xlsx
100% [..........................................................................] 1436351 / 1436351Found the URL: archive/xls/retail_sales_2019.xlsx
100% [..........................................................................] 1442566 / 1442566Found the URL: archive/xls/retail_sales_2018.xlsx
100% [..........................................................................] 1437953 / 1437953Found the URL: archive/xls/retail_sales_2017.xlsx
100% [..........................................................................] 1396735 / 1396735Found the URL: archive/xls/f8262016.xls
100% [..........................................................................] 2304000 / 2304000Found the URL: archive/xls/f8262015.xls
100% [..........................................................................] 2250752 / 2250752Found the URL: archive/xls/f8262014.xls
100% [..........................................................................] 1859584 / 1859584Found the URL: archive/xls/f8262013.xls
100% [..........................................................................] 1756160 / 1756160Found the URL: archive/xls/f8262012.xls
100% [..........................................................................] 1548800 / 1548800Found the URL: archive/xls/f8262011.xls
100% [..........................................................................] 1533440 / 1533440Found the URL: archive/xls/f8262010.xls
100% [..........................................................................] 1507840 / 1507840Found the URL: archive/xls/f8262009.xls
100% [..........................................................................] 1498112 / 1498112Found the URL: archive/xls/f8262008.xls
100% [..........................................................................] 1478656 / 1478656Found the URL: archive/xls/f8262007.xls
100% [..........................................................................] 1242112 / 1242112Found the URL: archive/xls/f8262006.xls
100% [..........................................................................] 2637824 / 2637824Found the URL: archive/xls/f8262005.xls
100% [..........................................................................] 2409472 / 2409472Found the URL: archive/xls/f8262004.xls
100% [..........................................................................] 2444288 / 2444288Found the URL: archive/xls/f8262003.xls
100% [..........................................................................] 2667520 / 2667520Found the URL: archive/xls/f8262002.xls
100% [..........................................................................] 2264064 / 2264064Found the URL: archive/xls/f8262001.xls
100% [..........................................................................] 2260992 / 2260992Found the URL: archive/xls/f8262000.xls
100% [..........................................................................] 1559552 / 1559552Found the URL: archive/xls/f8261999.xls
100% [..........................................................................] 1565184 / 1565184Found the URL: archive/xls/f8261998.xls
100% [..........................................................................] 1318912 / 1318912Found the URL: archive/xls/f8261997.xls
100% [..........................................................................] 1316864 / 1316864Found the URL: archive/xls/f8261996.xls
100% [..........................................................................] 1319936 / 1319936Found the URL: archive/xls/f8261995.xls
100% [..........................................................................] 1295872 / 1295872Found the URL: archive/xls/f8261994.xls
100% [..........................................................................] 1259520 / 1259520Found the URL: archive/xls/f8261993.xls
100% [..........................................................................] 1228288 / 1228288Found the URL: archive/xls/f8261992.xls
100% [..........................................................................] 2142720 / 2142720Found the URL: archive/xls/f8261991.xls
100% [..........................................................................] 2156544 / 2156544Found the URL: archive/xls/f8261990.xls
100% [..........................................................................] 2025984 / 2025984

# 2. Data Cleanse

In [143]:
#assign all data file names to a list
file_names = glob('*[.xls,.xlsx]')

In [145]:
#remove the data file that contains aggregated data from the file list
new_file_names = []
for file in file_names:
    if 'revenue' in file:
        print ('dont need this file')
    else:
        new_file_names.append(file)

dont need this file

In [147]:
# get subset of data that contains data from year 2003 to 2022
new_file_names = new_file_names[13:]

In [158]:
#create empty dataframe
df_data = pd.DataFrame()

#append data files to empty dataframe
for file in new_file_names:
    data = pd.read_excel(file)
    print(file)
    print(data.columns)
    print(data.shape)
    df_data = df_data.append(data)

f8262003.xls
Index(['UTILITYID', 'UTILNAME', 'STATE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MwH)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MwH)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MwH)', 'IND_CONS',
       'OTH_REV (Thousand $)', 'OTH_SALES (MwH)', 'OTH_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MwH)', 'TOT_CONS'],
      dtype='object')
(6412, 20)
f8262004.xls
Index(['UTILITYID', 'UTILNAME', 'STATE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MwH)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MwH)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MwH)', 'IND_CONS',
       'OTH_REV (Thousand $)', 'OTH_SALES (MwH)', 'OTH_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MwH)', 'TOT_CONS'],
      dtype='object')
(6499, 20)
f8262005.xls
Index(['UTILITYID', 'UTILNAME', 'STATE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MwH)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MwH)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MwH)', 'IND_CONS',
       'OTH_REV (Thousand $)', 'OTH_SALES (MwH)', 'OTH_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MwH)', 'TOT_CONS'],
      dtype='object')
(6416, 20)
f8262006.xls
Index(['UTILITY_ID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MwH)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MwH)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MwH)', 'IND_CONS',
       'OTH_REV (Thousand $)', 'OTH_SALES (MwH)', 'OTH_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MwH)', 'TOT_CONS'],
      dtype='object')
(6376, 20)
f8262007.xls
Index(['UTILITY_ID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MWh)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MWh)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MWh)', 'IND_CONS',
       'OTH_REV (Thousand $)', 'OTH_SALES (MWh)', 'OTH_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MWh)', 'TOT_CONS'],
      dtype='object')
(6227, 20)
f8262008.xls
Index(['UTILITY_ID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MWh)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MWh)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MWh)', 'IND_CONS',
       'TRA_REV (Thousand $)', 'TRA_SALES (MWh)', 'TRA_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MWh)', 'TOT_CONS'],
      dtype='object')
(6327, 20)
f8262009.xls
Index(['UTILITY_ID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MWh)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MWh)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MWh)', 'IND_CONS',
       'TRA_REV (Thousand $)', 'TRA_SALES (MWh)', 'TRA_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MWh)', 'TOT_CONS'],
      dtype='object')
(6344, 20)
f8262010.xls
Index(['UTILITY_ID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MWh)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MWh)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MWh)', 'IND_CONS',
       'TRA_REV (Thousand $)', 'TRA_SALES (MWh)', 'TRA_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MWh)', 'TOT_CONS'],
      dtype='object')
(6345, 20)
f8262011.xls
Index(['UTILITY_ID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RES_REV (Thousand $)', 'RES_SALES (MWh)', 'RES_CONS ',
       'COM_REV (Thousand $)', 'COM_SALES (MWh)', 'COM_CONS',
       'IND_REV (Thousand $)', 'IND_SALES (MWh)', 'IND_CONS',
       'TRA_REV (Thousand $)', 'TRA_SALES (MWh)', 'TRA_CONS',
       'TOT_REV (Thousand $)', 'TOT_SALES (MWh)', 'TOT_CONS'],
      dtype='object')
(6288, 20)
f8262012.xls
Index(['UTILITYID', 'UTILNAME', 'STATE_CODE', 'YEAR', 'MONTH',
       'RESIDENTIAL REVENUES ($1,000)', 'RESIDENTIAL SALES (MWh)',
       'RESIDENTIAL CUSTOMERS', 'COMMERCIAL REVENUES ($1,000)',
       'COMMERCIAL SALES (MWh)', 'COMMERCIAL CUSTOMERS',
       'INDUSTRIAL REVENUES ($1,000)', 'INDUSTRIAL SALES (MWh)',
       'INDUSTRIAL CUSTOMERS', 'TRANSPORTATION REVENUES ($1,000)',
       'TRANSPORTATION SALES (MWh)', 'TRANSPORTATION CUSTOMERS',
       'TOTAL REVENUES ($1,000)', 'TOTAL SALES (MWh)', 'TOTAL CUSTOMERS'],
      dtype='object')
(6261, 20)
f8262013.xls
Index(['UTILITY CHARACTERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'RESIDENTIAL', 'Unnamed: 7', 'Unnamed: 8',
       'COMMERCIAL', 'Unnamed: 10', 'Unnamed: 11', 'INDUSTRIAL', 'Unnamed: 13',
       'Unnamed: 14', 'TRANSPORTATION', 'Unnamed: 16', 'Unnamed: 17', 'TOTAL',
       'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')
(6403, 21)
f8262014.xls
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(6404, 22)
f8262015.xls
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(7860, 22)
f8262016.xls
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(8036, 22)
retail_sales_2017.xlsx
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(8241, 22)
retail_sales_2018.xlsx
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(8563, 22)
retail_sales_2019.xlsx
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(8558, 22)
retail_sales_2020.xlsx
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(8475, 22)
retail_sales_2021.xlsx
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(8304, 22)
sales_ult_cust_2022.xlsx
Index(['UTILITY CHARATERISTICS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'RESIDENTIAL', 'Unnamed: 8',
       'Unnamed: 9', 'COMMERCIAL', 'Unnamed: 11', 'Unnamed: 12', 'INDUSTRIAL',
       'Unnamed: 14', 'Unnamed: 15', 'TRANSPORTATION', 'Unnamed: 17',
       'Unnamed: 18', 'TOTAL', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')
(3451, 22)

In [163]:
df_2013 = pd.read_excel('f8262013.xls',header=2)

In [164]:
df_2013.head()

,Year,Month,Utility Number,Utility Name,State,Data Status,Thousands Dollars,Megawatthours,Count,Thousands Dollars.1,...,Count.1,Thousands Dollars.2,Megawatthours.2,Count.2,Thousands Dollars.3,Megawatthours.3,Count.3,Thousands Dollars.4,Megawatthours.4,Count.4
0,2013,1.0,0.0,Adjustment 2014,AK,Final,6598.015,25303.99,30971,9177.412,...,11768,2065.652,9197.801,548,0,0,0,17841.079,68189.131,43287.0
1,2013,1.0,213.0,Alaska Electric Light&Power Co,AK,Final,2290.654,16227.499,13901,1458.255,...,2186,594.351,5270.856,94,0,0,0,4343.260,33661.999,16181.0
2,2013,1.0,219.0,Alaska Power and Telephone Co,AK,Final,738.549,2449.644,4745,891.519,...,2126,0,0,0,0,0,0,1630.068,5683.881,6871.0
3,2013,1.0,599.0,Anchorage Municipal Light and Power,AK,Final,1632.122,14825.838,24423,6906.278,...,6364,0,0,0,0,0,0,8538.400,98206.785,30787.0
4,2013,1.0,1651.0,Bethel Utilities Corp,AK,Final,574.107,1052.715,1692,1413.971,...,975,0,0,0,0,0,0,1988.078,3743.974,2667.0